.theme--light.v-autocomplete .v-input__slot:before {
  border-color: $input-color !important;
}

.input--is-focused .v-input__control .v-input__slot:after {
  border-color: red !important;
}

.v-autocomplete__slot {
  input {
    @include material-placeholder {
      color: $input-color;
    }

    ;
  }

  .v-label {
    color: $label-color !important;
    font-size: $font-size-general;
    font-weight: $font-weight-base;
  }
}

.tag-input .v-chip {
  background-color: $blue-600;
  color: white !important;
  font-size: 0.9rem;
}

.tag-input .v-chip__content {
  line-height: 32px;
  padding-right: 30px !important;
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-width: 300px;
}

.tag-input .v-chip__close {
  position: absolute;
  top: 5px;
  right: 0;
  width: 24px;
}

.v-data-table.v-autocomplete {
  width: 5000px;
}

.theme--light.v-input:not(.v-input--is-disabled) input,
.theme--light.v-input:not(.v-input--is-disabled) textarea {
  color: $black-color;
  font-size: $font-size-default;
}